<div class="item">
    <%= link_to image_tag(hot_food.images, :size => "226x225"), hot_food, class:"wow flipInX"%>
    <h3><%= link_to hot_food.name, hot_food, class: "product-name", style: "color: white" %></h3>
</div>
