<div class="item">
    <%= link_to image_tag(hot_drink.images, :size => "226x225"), hot_drink, class:"wow flipInX"%>
    <h3><%= link_to hot_drink.name, hot_drink, class: "product-name", style: "color: white" %></h3>
</div>
