<div class="item">
    <img src="images/thumb1.png" width="226" height="225" alt="sliderimg" class="wow flipInX" data-wow-delay=".8s">
    <h3><%= link_to hot_food.name, hot_food, class: "product-name", style: "color: white" %></h3>
</div>