<div class="item">
    <img src="images/royaltea-trasua.jpg" width="226" height="225" alt="sliderimg" class="wow flipInX" data-wow-delay=".8s">
    <h3><%= link_to hot_drink.name, hot_drink, class: "product-name", style: "color: white" %></h3>
</div>