<% provide :title, t(".title") %>
<div style="background-image: url(https://i.imgur.com/inhwFQS.png);
    height: -webkit-fill-available;background-repeat: no-repeat;background-size: cover;">
	<h1><%= t ".header1" %></h1>
</div>