<% provide :title, t(".title") %>

<div style="background-image: url(https://3.bp.blogspot.com/-I_QbPRKxYY0/WBWdoZqbzaI/AAAAAAAAA60/0bVec9a0fV4k-MApArK0sMEkzsl9JegIwCLcB/s1600/help-and-support.png);
    height: -webkit-fill-available;background-repeat: no-repeat;background-size: cover;">
	<h1><%= t ".header1" %></h1>
</div>