<% provide :title, "Checkout" %>
<% provide :button_text, "Confirm" %>
<div class="container">
<h1 class="text-center" style="color: #474745">Thanks for ordering!</h1>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= render "new_order" %>
    </div>
  </div>
</div>
