<% provide :title, t("categories.new.title") %>
<% provide :button_text, t("categories.new.button_text") %>
<h1><%= t "categories.new.header" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "edit_form" %>
  </div>
</div>
