<p class="rate-date"><%= rate.created_at.to_date %>&emsp;&emsp;
  <strong class="rate-user"><%= rate.user.name %></strong>
  <% rate.point.to_i.times do %>
    <i class="fa fa-star star-style"></i>
  <% end %>
</p>
<p class="comment-size">
  <%= rate.comment %>
</p>
