<div id="cart_count">
  <span class="fas fa-cart-plus" style="font-size:20px;color:black"></span> CART
    <span style="color: red;font-weight: bold;font-size: 17px;"><%= session[:cart_count] %><span>
</div>
