<div class="copyrightswrapper">
    <div id="copyrights" class="container">

        <div>Copyright 2018 <a href="https://www.facebook.com/Mido.HHH"> BTS Team </a> All Rights Reserved</div>

    </div>
    <!-- end of copyrights-->
</div>